<html lang='en'>
  <head>
    <title>Rock Paper Scissors</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src='index.js' defer></script>
  </head>
  <body>
    <div id='app' v-cloak>
      <h1>Rock Paper Scissors!</h1>
      <div class='button'>
        <button v-on:click='resetGame'>Reset</button>
      </div>
      <div class="row">
        <div class="column" style="background-color:#aaa; height:300px;">
          <p><b>Select one of the following:</b></p>
          <div v-for="choice in choices">
            <choice-selector v-bind:choice='choice' v-on:select-choice='selectChoice($event)'></choice-selector>
          </div>
          <div v-if='gameStarted'>
            <p>You chose: {{playerChoice}}</p>
            <p>The computer chose: {{randomChoice}}</p>
            <p v-bind:class="{ won: outcome > 0, lost: outcome < 0 }">{{outcomeDescription}}</p>
          </div>
        </div>
        <div class="column" style="background-color:#bbb;">
          <h2>Game History</h2>
          <hr/>
          <div>
            Player: {{playerScore}}
            Computer: {{computerScore}}
          </div>
          <hr/>
          <table>
            <thead>
              <tr>
                <th>Round</th>
                <th>Winner</th>
              </tr>
            </thead>
            <tbody>
              <template v-for='(value, index) in history'>
                <round-displayer v-bind:key='index' v-bind:round-number='index + 1' v-bind:round-result='value'></round-displayer>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
