<html lang='en'>
  <head>
    <title>Rock Paper Scissors</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src='index.js' defer></script>
  </head>
  <body>
    <div id='app' v-cloak>
      <p>Select one of the following:</p>
      <div v-for="choice in choices">
        <choice-selector v-bind:choice='choice' v-on:select-choice='selectChoice($event)'></choice-selector>
      </div>

      <div v-if='gameStarted'>
        <p>You chose: {{playerChoice}}</p>
        <p>The computer chose: {{randomChoice}}</p>
        <p v-bind:class="{ won: outcome > 0, lost: outcome < 0 }">{{outcomeDescription}}</p>
      </div>
      <div>
        <button v-on:click='resetGame'>Reset</button>
      </div>
      <div>
        Player score: {{playerScore}}
        Computer score: {{computerScore}}
      </div>
      <div>
        History
        <ul>
          <li v-for='(value, index) in history'>
            <round-displayer v-bind:round-number='index + 1' v-bind:round-result='value'></round-displayer>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
