<html lang='en'>
  <head>
    <title>Vue App</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src='index.js' defer></script>
  </head>
  <body>
    <div id='app' v-cloak>
      <h1>Shopping List</h1>
      <label>Item<input type='text' v-model='item'></label>
      <button v-on:click='list.push(item)'>Add</button>
      <div v-if='list.length == 0'>
        <i>You have no items on your list.</i>
      </div>
      <div v-else>
        <p>Item count: {{list.length}}</p>
        <ul>
          <li v-for='i in list'>{{ i }}</li>
        </ul>
      </div>
    </div>
  </body>
</html>