<html lang='en'>
  <head>
    <title>Vue App</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src='index.js' defer></script>
  </head>
  <body>
    <div id='app' v-cloak>
      <h1>Shopping List</h1>
      <label>Qty<input type='text' v-model.number='itemQuantity'></label>
      <label>Item<input type='text' v-model='itemName' v-on:keyup.enter='addItem'></label>
      <button v-on:click='addItem'>Add</button>
      <div v-if='listCount == 0'>
        <i>You have no items on your list.</i>
      </div>
      <div v-else>
        <p>Item count: {{listCount}}</p>
        <ul>
          <li v-for="(quantity, name) in list">{{quantity}} x {{name}}</li>
        </ul>
      </div>
    </div>
  </body>
</html>